body
{
    font-family: Arial, Helvetica, sans-serif;
    background: ghostwhite;
}
.panel
{
    position: absolute;
}
#left-panel
{
    left: 0;
    right: 70%;
    top: 0;
    bottom: 0;
}
#right-panel
{
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
}